@import '../../styles/variables.scss';

.newsletter {
  align-items: center;
  background: $color-primary;
  display: flex;
  height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  z-index: $index-newsletter;

  .line {
    background-color: $color-black;
    width: 1px;
    height: 24px;
  }
}

.news {
  width: 800px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $md) {
    width: 600px;
  }
}
