@import '../../../styles/variables.scss';

.productSection {
  width: 100%;
  background-color: $color-bg-black;

  .title {
    @media (min-width: $xl) {
      &:lang(zh) {
        font-size: 50px;
      }
    }
  }

  .content {
    min-height: 661px;
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: $md) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .productIcons {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: $md) {
        margin-top: 60px;
      }

      .productIcon {
        margin-bottom: 25px;
        display: block;
        max-width: 100%;
        cursor: pointer;

        &:hover,
        &.active {
          & path,
          & rect {
            fill: $color-primary;
          }
        }

        @media (max-width: $md) {
          height: 30px;
          width: auto;
        }
      }
    }

    .link {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 23px;
      text-align: right;
      letter-spacing: -1px;
      color: $color-primary;

      @media (max-width: $md) {
        font-size: 12px;
        font-weight: 500;
        line-height: 0.96;
        letter-spacing: -0.5px;
        text-align: right;
      }
    }

    .line {
      margin-top: 30px;
      width: 100%;
      background-color: $color-gray;
      height: 1px;

      @media (max-width: $md) {
        margin-top: 15px;
      }
    }

    .code {
      margin-top: 30px;
      max-height: 300px;
      position: relative;

      @media (max-width: $md) {
        margin-top: 15px;
      }
    }

    .description {
      font-family: Lato;
      font-size: 16px;
      line-height: 20px;
      color: $color-gray;

      @media (max-width: $md) {
        font-size: 12px;
        line-height: 1.17;
      }
    }
  }
}
