@import '../../../styles/variables.scss';

.iconMenu {
  width: 20px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .line {
    height: 2px;
    width: 20px;
    background-color: $color-gray;
  }
}
