@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageAboutUs {
  background-image: url('/images/PageAboutUs/bg.png');

  @extend .detailPage;

  .header {
    margin-bottom: 220px;
  }
}

.content {
  position: relative;
}
