@import '../../../styles/variables.scss';

.cardContent {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 40px 0;

  @media (max-width: $md) {
    padding: 20px 25px;
  }

  .item {
    text-align: center;
    width: 33.33333333%;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #070707;

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 1.29;
      margin-bottom: 18px;
    }

    .inner {
      position: relative;
      display: inline-block;
      margin: auto;

      &:hover .icon svg {
        path,
        rect {
          fill: #75a91f;
        }
      }
    }
  }
}
