@import '../../../styles/variables.scss';

.contractSection {
  background-image: url('./bg.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;

  @media (max-width: $lg) {
    background-size: 0%;
  }

  .content {
    .introduce {
      height: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $md) {
        padding-top: 50px;
        padding-bottom: 48px;
      }

      .button {
        max-width: 370px;

        @media (max-width: $md) {
          margin-top: 30px;
          width: 180px;
        }
      }
    }
  }
}
