@import '../../styles/variables.scss';

.pageMiner {
  width: 100%;
  background-color: $color-bg-black;
  background-image: url(./bg2.png);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 200px;
  position: relative;

  @media (max-width: $sm) {
    padding: 200px 20px;
  }

  .header {
    max-width: 900px;

    .title {
      line-height: 1;
      max-width: 900px;
    }

    .description {
      max-width: 602px;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    max-width: 502px;

    & > * {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .btn1 {
      width: 260px;
    }

    .btn2,
    .btn3 {
      width: 180px;
    }
  }

  .content {
    position: relative;
  }

  .floatMenu {
  }
}
