@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageMiner {
  background-image: url('/images/PageMiner/bg2.png');

  @extend .detailPage;

  .btn1 {
    width: 278px;
  }

  .btn2 {
    width: 208px;
  }

  .btn3 {
    width: 178px;
  }

  .btn4 {
    width: 278px;
  }

  .content {
    position: relative;
  }
}
