@import '../../../styles/variables.scss';

.cardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px 30px;

  @media (max-width: $md) {
    padding: 15px;
  }

  .item {
    margin: 12px;
    position: relative;

    @media (max-width: $md) {
      margin: 10px;
    }

    @media (max-width: $sm) {
      margin: 10px 0;
    }

    &:hover img {
      opacity: 0.6;
    }

    &:hover .label {
      display: block;
    }

    .label {
      display: none;
      white-space: nowrap;
      position: absolute;
      width: auto;
      top: -32px;
      left: 0;
      background: $color-black;
      color: $color-gray;
      padding: 5px;
    }
  }
}
