@import '../../../styles/variables.scss';

.crowdloan {
  margin-top: $nav-height;
  background: #111111;
  display: flex;
  justify-content: center;

  .wrapper {
    box-sizing: border-box;
    border: 2px solid #cdfa50;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    position: relative;
    padding-left: 36px;
    padding-right: 29px;
    box-sizing: content-box;

    .close {
      position: absolute;
      right: 23px;
      top: 22px;
      width: 17px;
      height: auto;
    }

    .left {
      // margin-right: 36px;

      .header {
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        color: #ffffff;
      }
      .body {
        display: flex;
        padding: 19px 0;

        .title {
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #cdfa50;
          white-space: nowrap;
        }
        .itemBox {
          display: block;

          .item {
            display: inline-flex;
            align-items: center;
            // margin-left: 20px;
            margin-left: 15px;

            img {
              width: 25px;
              height: 25px;
            }

            span {
              padding-left: 11px;
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              color: #ffffff;
            }
          }
        }
      }
      .footer {
        background: #cdfa50;
        width: 145px;
        height: 34px;
        border: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .right {
      width: 184px;
      height: auto;
    }

    @media (max-width: $sm) {
      flex-direction: column;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      padding-bottom: 15px;
      padding-left: 0;
      padding-right: 0;

      .left {
        margin: 0 5px;

        .header {
          text-align: center;
          font-size: 25px;
          line-height: 30px;
          padding-top: 5px;
        }

        .body {
          flex-direction: column;
          padding: 10px 10px;

          .title {
            font-size: 18px;
            line-height: 20px;
            padding-bottom: 10px;
          }

          .itemBox {
            .item {
              padding-bottom: 10px;
              margin: 0;
              width: 50%;

              span {
                font-size: 12px;
                line-height: 14px;
              }
            }
          }
        }

        .footer {
          width: 120px;
          height: 30px;
          font-size: 18px;
          line-height: 20px;
          margin-left: 10px;
        }
      }

      .right {
        width: 90px;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}
