@import '../../../styles/variables.scss';

.cardContent {
  background-image: url(./images/bg.svg);
  background-position: left top;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: $xl) {
    flex-direction: column-reverse;
    align-items: flex-start;

    .title {
      margin-top: 30px;
    }
  }
}
