@import '../../../styles/variables.scss';

.sectionHeader {
  max-width: 500px;

  &.black {
    color: $color-black;
  }

  &.gray {
    color: $color-gray;
  }

  .title {
    font-family: Lato-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
  }

  .description {
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}
