@import '../../styles/variables.scss';
@import '../../styles/card.scss';

.cardList {
  display: flex;

  @media (max-width: $md) {
    display: block;
  }
}

.item {
  @extend .card;
  padding: 30px 20px;
  flex: 1;

  @media (max-width: $md) {
    padding: 30px 15px 15px;

    img {
      width: 26px;
    }
  }

  &:last-child {
    margin-left: 30px;

    @media (max-width: $md) {
      margin-left: 0;
      margin-top: 15px;
    }
  }

  a {
    display: block;
  }

  .title {
    margin: 20px 0;
    font-family: Lato;
    font-size: 24px;
    line-height: 1;
    color: #070707;

    @media (max-width: $md) {
      margin: 20px 0 0;
      font-family: Lato;
      font-size: 18px;
      line-height: 1;
    }
  }

  .description {
    margin: 20px 0 0;
    opacity: 0.75;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(7, 7, 7, 0.75);

    @media (max-width: $md) {
      margin: 10px 0 0;
      opacity: 0.75;
      font-family: Lato;
      font-size: 12px;
      line-height: 1.17;
    }
  }
}
