@import '../../../styles/variables.scss';

.firstScreen {
  background: #252525 url(./images/line.svg) repeat;
  background-size: 5px 5px;
  height: 100vh;
  min-height: 760px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  .bg {
    background-image: url(./images/bg.svg);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: $md) {
      background-image: none;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    @media (max-width: $md) {
      padding: 0 20px;
    }
  }

  .title {
    font-family: Lato-Black;
    color: $color-gray;
    font-size: 80px;
    line-height: 80px;
    margin-top: 40px;

    @media (max-width: $md) {
      font-size: 30px;
      line-height: 1;
    }
  }

  .subtitle {
    color: #252525;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
    margin-top: 15px;
    text-shadow:
      -1.5px -1.5px 0 $color-primary,
      1.5px -1.5px 0 $color-primary,
      -1.5px 1.5px 0 $color-primary,
      1.5px 1.5px 0 $color-primary;

    @media (max-width: $md) {
      font-size: 28px;
      line-height: 32px;
      text-shadow:
      -1px -1px 0 $color-primary,
      1px -1px 0 $color-primary,
      -1px 1px 0 $color-primary,
      1px 1px 0 $color-primary;
    }
  }

  .description {
    max-width: 660px;
    margin-top: 15px;
    color: $color-gray;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;

    .highlight {
      color: $color-primary;
      font-size: 30px;
      font-weight: bold;
    }

    @media (max-width: $md) {
      font-size: 16px;
      line-height: 1.13;
      max-width: 320px;
    }
  }

  .buttons {
    margin-top: 107px;
    display: flex;

    @media (max-width: $md) {
      margin-top: 25px;
      display: block;
    }

    .button {
      margin-right: 30px;
      margin-bottom: 15px;

      @media (min-width: $md) {
        font-size: 20px;
      }
    }
  }
}
