@import '../../../styles/variables.scss';
@import '../../../styles/card.scss';

.iconTextCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ececec;
  background-color: #ffffff;
  padding: 15px;
  min-height: 220px;

  @extend .card;

  .icon {
    width: 107px;
    height: 107px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .text {
    flex: 1;
    margin: 12px 0 0;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg1 {
    background-image: url(./images/c1.svg);
  }
  .bg2 {
    background-image: url(./images/c2.svg);
  }
  .bg3 {
    background-image: url(./images/c3.svg);
  }
  .bg4 {
    background-image: url(./images/c4.svg);
  }
  .bg5 {
    background-image: url(./images/c5.svg);
  }
}
