@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageNode {
  @extend .detailPage;

  .btn1 {
    width: 260px;
  }

  .btn2,
  .btn3 {
    width: 180px;
  }

  .content {
    position: relative;
  }
}
