@import '../../../styles/variables.scss';

.cardContent {
  padding: 20px 30px;

  @media (max-width: $md) {
    padding: 15px 10px 30px 10px;

    img {
      width: 30px;
    }
  }
}

.cardHeader {
  width: 506px;
}

.item {
  border-top: solid 1px rgba(25, 25, 25, 0.2);
  padding: 15px 0;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 23px;

    @media (max-width: $md) {
      margin-right: 11px;
    }
  }

  &:last-child {
    border-bottom: solid 1px rgba(25, 25, 25, 0.2);
  }
}

.text {
  margin-top: 15px;
}
