@import '../../styles/variables.scss';

.button {
  align-items: center;
  background-color: transparent;
  color: $color-black;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 50px;
  justify-content: space-between;
  line-height: 50px;
  outline: none;
  padding: 10px 14px;
  border-radius: 0;

  @media (max-width: $md) {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    border-width: 1px !important;
  }

  &.middle {
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    padding: 5px 10px;
    border-width: 1.5px !important;

    .iconArrow {
      width: 22px;
      height: 22px;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.black {
    border: 2px solid $color-black;

    &:active {
      border-color: $color-primary;
    }

    &:hover {
      background-color: $color-primary;
    }
  }

  &.gray {
    border: 2px solid $color-gray;
    color: $color-gray;

    .iconArrow {
      stroke: $color-gray;
    }

    &:active,
    &:hover {
      background-color: $color-gray;
      color: $color-black;

      .iconArrow {
        stroke: $color-black;
      }
    }
  }

  &.primary {
    background: $color-primary;
    border: 2px solid $color-primary;

    &:active {
      border-color: $color-black;
    }

    &:hover {
      border-color: $color-primary-dark;
      background-color: $color-primary-dark;
    }
  }

  &:hover {
    .iconArrow {
      transform: translate3d(2px, 0, 0);
    }
  }

  .iconArrow {
    @media (max-width: $md) {
      width: 15px;
      height: 15px;
    }

    margin-left: 14px;
    transition: transform 0.1s ease;
  }
}
