@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageAboutUs {
  @extend .detailPage;
  padding-top: 200px;

  .content {
    padding-top: 90px;
    position: relative;
  }

  .header {
    margin-bottom: 50px;

    @media (max-width: $md) {
      margin-bottom: 100px;
    }
  }
}

.content {
  position: relative;
}

.btn {
  width: 278px;
}
