@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageAboutUs {
  @extend .detailPage;

  .header {
    margin-bottom: 220px;

    @media (max-width: $md) {
      margin-bottom: 100px;
    }
  }
}

.content {
  position: relative;
}
