@import '../../styles/variables.scss';

.backTop {
  background-color: rgba(103, 103, 103, 0.75);
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 100px;
  width: 50px;
  z-index: $index-backTop;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $sm) {
    right: 10px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: $sm) and (max-width: $md) {
    right: 20px;
    width: 45px;
    height: 45px;
  }

  @media (min-width: $md) and (max-width: $lg) {
    right: 30px;
  }

  &:hover {
    color: $color-gray;
  }
}
