@import '../../../styles/variables.scss';

.cloudSection {
  width: 100%;
  background-color: $color-bg-black;

  .content {
    height: calc(100vh - #{$nav-height});
    min-height: 894px;
    background-image: url(./bg.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    width: 100%;
    padding-top: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .buttons > a:last-child {
      margin-top: 30px;
    }

    .buttons a {
      width: 400px;
    }
  }
}
