@import '../../../styles/variables.scss';

.cardHeader {
  width: 400px;
  background-color: #000000;
  color: $color-primary;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: $index-card-header;

  &:lang(zh) {
    padding: 20px 18px 20px 30px;
    font-family: mplus_hzk_12;
    font-size: 44px;
  }

  &:lang(en) {
    padding: 30px 18px 20px 30px;
    font-family: Minecraft;
    font-size: 36px;
  }

  @media (max-width: $md) {
    &:lang(zh) {
      font-size: 22px;
    }
    &:lang(en) {
      font-size: 18px;
    }

    padding: 15px;
  }

  &.small {
    display: inline-block;
    flex-direction: row;
    height: 80px;
    width: auto;
    white-space: nowrap;

    .randomBlock {
      display: none;
    }

    .name {
      display: inline-block;
      margin-left: 30px;
    }

    .top {
      margin-bottom: 0;
      display: inline-block;
    }

    @media (max-width: $lg) {
      display: flex;
      flex-direction: column;
      height: 120px;
      width: 100%;

      .name {
        margin-left: 0;
      }

      .randomBlock {
        display: block;
      }
    }
  }

  .randomBlock {
    position: absolute;
    top: 0;
    right: 0;
  }

  .top {
    position: relative;
    margin-bottom: 30px;

    @media (max-width: $md) {
      margin-bottom: 15px;
    }
  }

  .target {
    position: absolute;
    top: -110px;
    left: 0;
  }
}
