@import '../../../../styles/variables.scss';

.comparisonSection {
  position: relative;
  height: 90vh;

  @media (max-width: $sm) {
    display: none;
  }

  iframe {
    width: 100%;
    height: 200px;
  }
}

.mobile {
  margin-top: 80px;

  img {
    width: 100%;
  }

  @media (min-width: $sm) {
    display: none;
  }
}

.leftHand {
  transform: translate3d(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: -500px;
  width: 715px;
  margin-top: -300px;
  height: 330px;
  background-image: url('./images/left-hand.png');
  background-size: 100% 100%;
}

.rightHand {
  transform: translate3d(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  right: -500px;
  width: 705px;
  margin-top: -100px;
  height: 350px;
  background-image: url('./images/right-hand.png');
  background-size: 100% 100%;
}

.playerButton {
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141px;
  margin-left: -70px;
  height: 70px;
  margin-top: -35px;
  background-image: url('./images/player-button.svg');
  background-size: 100% 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8 !important;
  }

  &:active {
    transform: scale(1.6) !important;
  }
}

.browser {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -340px * 0.9;
  width: 680px * 0.9;
  margin-top: -260px * 0.9;
  height: 500px * 0.9;
  background-image: url('./images/browser.svg');
  background-size: 100% 100%;
  transform: translate3d(0, 0, 0);
}

.blocks {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -835px * 1.1;
  width: 1670px * 1.1;
  margin-top: -297px * 1.1;
  height: 595px * 1.1;
  background-image: url('./images/blocks.svg');
  background-size: 100% 100%;
  transform: translate3d(0, 0, 0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=');
  background-size: 100% 100%;

  &:hover {
    opacity: 0.8;
  }
}
