// Minecraft.ttf
// mplus_hzk_12.ttf

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'mplus_hzk_12';
  src: url('/fonts/mplus_hzk_12.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
