@import '../../../../styles/variables.scss';

.timelineWrap {
  padding: 100px 79px 100px 85px;
  width: 100%;
  overflow: hidden;
  transition: background-color 0.6s ease;

  @media (max-width: $sm) {
    overflow: auto;
    padding: 20px;
  }

  &.primary {
    background-color: $color-primary;
  }

  &.gray {
    background-color: $color-bg-gray;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $md) {
      margin-top: 35px;
    }
  }

  .timeline {
    margin-top: 90px;

    @media (max-width: $md) {
      margin-top: 30px;
    }

    .timelineInner {
      display: flex;
      transition: transform 0.6s ease;
      transform: translate3d(0, 0, 0);

      @media (max-width: $md) {
        display: block;
      }
    }
  }
}
