@import '../../styles/variables.scss';

.cardHeader {
  width: 400px;
  padding: 30px 18px 20px 30px;
  background-color: #000000;
  color: $color-primary;
  font-family: Minecraft, mplus_hzk_12;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 39px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .randomBlock {
    position: absolute;
    top: 0;
    right: 0;
  }

  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .target {
    position: absolute;
    top: -110px;
    left: 0;
  }
}
