@import '../../styles/variables.scss';

.backTop {
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 100px;
  width: 50px;
  z-index: $index-backTop;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s linear;

  @media (max-width: $sm) {
    display: none;
  }

  @media (min-width: $sm) and (max-width: $md) {
    right: 20px;
    width: 45px;
    height: 45px;
  }

  @media (min-width: $md) and (max-width: $lg) {
    right: 30px;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
