@import '../../../../styles/variables.scss';

.item {
  display: flex;
  min-height: 210px;

  .date {
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
  }

  .q {
    margin-left: 10px;
    font-family: Lato-Black;
    font-size: 48px;
    line-height: 1;
    color: $color-black;
    margin-bottom: -4px;
  }

  &.newestText {
    .text {
      display: flex;
    }

    @media (min-width: 630px) {
      .line {
        display: none;
      }
    }
  }

  .text {
    margin: 30px 0 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $color-black;
  }

  .newest {
    width: 310px;

    .newestContent {
      margin: 10px 0 0 20px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: rgba(10, 10, 10, 0.6);
    }
  }
}
