@import '../../../styles/variables.scss';

.firstScreen {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 200px 0 0 0;
  background-color: #111111;
  overflow: hidden;

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(./map.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right -60px bottom 260px;

    @media (min-width: $lg) {
      display: none;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    @media (max-width: $md) {
      padding: 0 20px;
    }
  }

  .title {
    font-family: Lato-Black;
    color: $color-gray;
    font-size: 80px;
    line-height: 80px;
    margin-top: 40px;

    @media (max-width: $md) {
      font-size: 30px;
      line-height: 1;
    }
  }

  .description {
    color: $color-gray;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    margin-top: 15px;

    @media (max-width: $md) {
      font-size: 16px;
      line-height: 1.13;
    }
  }

  .buttons {
    margin-top: 107px;
    display: flex;

    @media (max-width: $md) {
      margin-top: 25px;
      display: block;
    }

    .button {
      margin-right: 30px;
      margin-bottom: 15px;
      width: 280px;

      @media (min-width: $md) {
        font-size: 20px;
      }

      @media (max-width: $md) {
        width: 180px;
      }
    }
  }
}
