@import '../../../styles/variables.scss';

.cardContent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: $xl) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: $lg) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: $md) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: $sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    position: relative;
    margin: 5px auto;

    img {
      width: 80px;
    }

    &:hover img {
      opacity: 0.6;
    }

    &:hover .label {
      display: block;
    }

    .label {
      display: none;
      white-space: nowrap;
      position: absolute;
      width: auto;
      top: -50px;
      left: 0;
      font-size: 12px;
      z-index: 11;
      background: $color-black;
      color: $color-gray;
      padding: 5px;
    }
  }
}
