.Statics {
  display: inline-block;
  width: 128px;
  margin-right: 47px;
  margin-bottom: 28px;

  @media (min-width: 1268px) {
    width: 264px;
    margin-right: 188px;
    margin-bottom: 88px;
  }

  @media (min-width: 768px) {
    margin-right: 158px;
    margin-bottom: 88px;
  }

  &:last-child {
    margin-right: 0 !important;
  }

  .name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .line {
    margin-top: 3px;
    border-top: 1px solid #cdfa50;
    width: 100%;
    margin-bottom: 11px;

    @media (min-width: 768px) {
      margin-top: 13px;
      margin-bottom: 30px;
    }
  }

  .value {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 29px;
    color: #d9d9d9;

    @media (min-width: 768px) {
      font-size: 60px;
      line-height: 29px;
    }
  }
}
