@import '../../../styles/variables.scss';

.executionSection {
  width: 100%;
  background-color: #a9adb1;

  .content {
    width: 100%;
    min-height: 815px;
    padding-top: 100px;
    padding-bottom: 100px;

    .button {
      margin-left: auto;
      max-width: 500px;
    }
  }
}
