@import '../../../styles/variables.scss';

.executionSection {
  width: 100%;
  background-color: #a9adb1;

  .content {
    width: 100%;
    min-height: 815px;
    padding-top: 100px;
    padding-bottom: 100px;

    .title {
      width: 480px;
      font-family: Lato;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      color: $color-black;
    }

    .description {
      margin-top: 30px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $color-black;
    }

    .button {
      margin-left: auto;
      max-width: 500px;
    }
  }
}
