@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageCommunity {
  background-image: url('/images/PageCommunity/bg.png');
  @extend .detailPage;
}

.header {
  margin-bottom: 220px;
}

.content {
  position: relative;
}
