@import '../../../../../styles/variables.scss';

$oSize: 22px;
$oMdSize: 17px;

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;

  @media (max-width: $md) {
    margin: 1px 15px;
  }

  .o {
    width: $oSize;
    height: $oSize;
    border-radius: $oSize;
    background-color: #ffffff;

    @media (max-width: $md) {
      width: $oMdSize;
      height: $oMdSize;
      border-radius: $oMdSize;
    }
  }

  .l {
    flex: 1;
    width: 2px;
    background-color: #ffffff;

    @media (max-width: $md) {
      width: 1.5px;
    }
  }
}
