@import '../../styles/variables.scss';

.pagePHA {
  width: 100%;
  background-color: $color-bg-black;
  background-image: url('/images/PagePHA/bg.png');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 200px;
  position: relative;
}

.btn {
  width: 278px;
}
