@import '../../../styles/variables.scss';

.peopleInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;

  @media (max-width: $md) {
    justify-content: flex-start;

    &.last {
      margin-bottom: 0;
    }
  }

  .inner {
    max-width: 180px;

    @media (max-width: $md) {
      max-width: 8888px;
    }
  }

  .avatar {
    img {
      display: block;
      height: 180px;

      @media (max-width: $md) {
        height: 144px;
      }
    }
  }

  .name {
    margin: 20px 0;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    color: #070707;
  }

  .position {
    margin: 20px 0 10px;
    font-family: Lato;
    font-size: 16px;
    color: #070707;
  }

  .description {
    margin: 10px 0 0;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(7, 7, 7, 0.5);
  }
}
