@import '../../../styles/variables.scss';

.contributeSection {
  height: 100vh;
  min-height: 760px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;

  @media (max-width: $md) {
    height: auto;
    flex-direction: column-reverse;
  }
}

.left, .right {
  margin: 0;
  padding: 28px;
  flex-grow: 1;
  flex-basis: 0;
}

.left {
  background: $color-primary;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $md) {
    justify-content: center;
  }
}

.featureList {
  height: 100%;
  max-width: 620px;
  max-height: 800px;
  padding-left: 0;
  list-style: none;
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center; 
  align-content: center;
}

.right {
  background: $color-black;
  color: $color-gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightContent {
  max-width: 620px;
  max-height: 800px;
  height: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-family: Lato;
  font-weight: 900;
  font-size: 50px;
  line-height: 65px;

  @media (max-width: $md) {
    font-size: 30px;
    line-height: 1;
  }
}

.highlight {
  color: $color-black;
  text-shadow:
    -1.5px -1.5px 0 $color-primary,  
    1.5px -1.5px 0 $color-primary,
    -1.5px 1.5px 0 $color-primary,
    1.5px 1.5px 0 $color-primary;

  @media (max-width: $md) {
    text-shadow:
      -1px -1px 0 $color-primary,  
      1px -1px 0 $color-primary,
      -1px 1px 0 $color-primary,
      1px 1px 0 $color-primary;
    }
}

.description {
  max-width: 560px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: $md) {
    font-size: 16px;
    line-height: 1.13;
  }
}

.button {
  width: max-content
}