@import '../../../../../styles/variables.scss';

.partner {
  margin-bottom: 60px;
  width: 170px;

  @media (max-width: $sm) {
    margin-bottom: 15px;
    width: 89px;
  }

  img {
    display: block;
    width: 170px;

    @media (max-width: $sm) {
      width: 89px;
    }
  }
}
