@import '../../styles/variables.scss';

.listMenu {
  @media (max-width: $md) {
    border-top: 1px solid rgba($color-gray, 0.6);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $color-gray;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  .items {
    height: 225px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: $sm) {
      flex-wrap: nowrap;
      height: auto;
    }
  }

  .item {
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(169, 173, 177, 0.6);

    @media (max-width: $sm) {
      font-size: 14px;
      margin-top: 15px;
      margin-left: 20px;
    }

    & a:hover {
      color: rgba(169, 173, 177, 1);
    }
  }
}
