@import '../../styles/variables.scss';

.nav {
  margin-top: 34px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 36px;
    margin: 0;
  }

  li {
    list-style: none;
    position: relative;
    padding: 0 25px;

    & > div {
      display: none;
    }

    .link {
      cursor: pointer;
      color: $color-gray;
      height: 30px;
      line-height: 30px;
    }

    &:hover {
      & > div {
        display: block;
      }

      & > .link {
        color: rgba($color-gray, 0.7);
      }
    }
  }
}
