@import '../../styles/variables.scss';

.bg {
  background-color: #000000;
}

.nav {
  height: $nav-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: $index-nav;

  ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 0;
  }

  li {
    list-style: none;
    position: relative;
    padding: 0 25px;

    & > div {
      display: none;
    }

    .link {
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      color: rgba($color-gray, 0.6);
    }

    &:hover {
      & > div {
        display: block;
      }

      & > .link {
        color: $color-gray;
      }
    }
  }
}
