@import '../../../styles/variables.scss';

.partnersSection {
  background-image: url('/images/indexPage/partnersSection/bg.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;

  @media (max-width: $md) {
    background-size: 100% 100%;
  }

  .content {
    @media (max-width: $md) {
      flex-direction: column-reverse;
      margin: 0;
    }

    .partners {
      flex: 1;
      padding-top: 110px;
      background: $color-bg-gray;

      @media (max-width: $md) {
        padding-top: 50px;
        padding-bottom: 40px;
      }
    }

    .mobileHeader {
      display: none;
      margin-left: 20px;
      margin-bottom: 40px;

      @media (max-width: $md) {
        display: block;
      }
    }

    .header {
      padding-top: 100px;
      padding-left: 40px;
      max-width: 360px;

      @media (max-width: $md) {
        display: none;
        padding-left: 20px;
      }
    }
  }
}
