@import '../../../../styles/variables.scss';

.buttons {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $md) {
    display: none;
  }

  .button {
    position: relative;
    cursor: pointer;

    &:active {
      &.left {
        opacity: 0.5;
      }
      &.right {
        opacity: 0.5;
      }
    }
  }
}
