@import './variables.scss';

.detailPage {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 200px;
  position: relative;

  @media (max-width: $md) {
    padding-bottom: 20px;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
