// color
$color-primary: #d1ff52;
$color-primary-dark: #9dc431;
$color-black: #0a0a0a;
$color-gray: #d9d9d9;
$color-bg-black: #191919;
$color-bg-gray: #a9adb1;

// index
$index-backTop: 100;
$index-newsletter: 100;
$index-nav: 200;
$index-nav-sub-menu: 200;
$index-fixed-header: 100;
$index-mobile-nav: 500;
$index-card: 50;
$index-card-header: 51;
$index-card-content: 52;

// nav
$nav-height: 60px;

// layout
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1240px;
