// color
$color-primary: #d1ff52;
$color-primary-dark: #9dc431;
$color-black: #0a0a0a;
$color-gray: #d9d9d9;

// index
$index-backTop: 100;
$index-newsletter: 100;
$index-nav: 200;
$index-nav-sub-menu: 200;

// nav
$nav-height: 60px;
