@import '../../styles/variables.scss';

.floatMenu {
  position: absolute;
  width: 380px;
  padding: 35px 20px;
  background-color: #d1ff52;
  font-family: Lato-Bold;
  font-size: 24px;

  top: 150px;
  z-index: $index-card - 10;

  @media (max-width: $lg) {
    display: none;
  }

  @media (min-width: 1466px) {
    margin-left: -100px;
  }

  @media (min-width: 1666px) {
    margin-left: -180px;
  }

  &.fixed {
    position: fixed;
    top: auto;
    // have no idea
    bottom: 300px;
  }

  &.bottom {
    position: absolute !important;
    top: auto;
    bottom: 0px !important;
  }

  &:hover {
    z-index: $index-card + 10;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #070707;
    margin-right: 110px;
  }

  .menu {
    margin-top: 20px;

    .item {
      display: flex;
      margin-top: 5px;

      &.done {
        text-decoration: line-through;
      }

      .index {
        margin-right: 30px;
      }
    }
  }
}
