@import '../../../styles/variables.scss';
@import '../../../styles/card.scss';

.textAndButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button {
    max-width: 278px;

    @media (max-width: $md) {
      margin-top: 30px;
    }
  }
}

.iconCard {
  @extend .cardHover;
  @extend .card;
  padding: 15px;

  img {
    width: 100%;
  }
  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}
