@import '../../styles/variables.scss';

.langSwitch {
  display: flex;
  align-items: center;

  .item {
    opacity: 0.4;
    border: 1px solid $color-gray;
    color: $color-gray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    border-radius: 0;
    margin-right: 10px;
    cursor: pointer;
    font-family: Lato;
    font-size: 12px;

    &:last-child {
      margin-right: 0;
    }

    &.active,
    &:hover {
      opacity: 1;
      color: $color-black;
      background: $color-gray;
      border-color: $color-gray;
    }
  }
}
