@import '../../styles/variables.scss';
@import '../../styles/detailPage.scss';

.pageTechnology {
  background-image: url('/images/PageTechnology/bg.png');

  @extend .detailPage;
}

.btn1 {
  width: 278px;
}

.btn2,
.btn3,
.btn4 {
  width: 178px;
}

.content {
  position: relative;
}
